:root {
  --card-color: #f1f0f0;
  --unfocus-text-color: #686868;
  --primary-text-color: #000000;
  --secondary-text-color: #737373;
  --primary-font: "Crimson Text", serif;
  --typewriter-font: "Xanh Mono", serif;
  --secondary-font: "Inter", serif;
}

* {
  /* border: 0.01px red solid; */

  margin: 0;
  outline: 0;

  font-family: var(--primary-font);
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grey-card {
  background-color: var(--card-color);
  border-radius: 50px;
  height: 100%;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.content {
  flex: 1;
}
.content-title {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 25%;
  font-family: var(--typewriter-font);
}

.content-p {
  font-size: 18px;
  text-align: justify;
}

.vertical-line {
  width: 0.1px;
  height: 25rem;
  border: 0.5px black solid;
}
 .down-icon-button, .cross-icon-button, .hamburger-icon-button{
    background-color: var(--card-color);
    border: none;
    height: 100%;
  }

/*#region header*/
.header-wrapper {
  min-height: 5rem;
  background-color: var(--card-color);
}

.header {
  width: 80%;
  justify-content: flex-start;
}

.logo-wrapper {
  font-size: 32px;
}

.nav-desktop {
  list-style-type: none;
  padding: 0;
  margin-left: 3rem;
}

.nav-mobile {
  display: none;
}

.nav-item a {
  color: var(--unfocus-text-color);
  font-size: 18px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-item.curr a {
  color: var(--primary-text-color);
}

.nav-item a:hover,
.footer-item a:hover {
  color: var(--primary-text-color);
}
/* #endregion */

/* #region home-content */
.home-content {
  display: flex;
}

.home-content .content-title{
  padding-bottom: 3rem;
}

/* #region home-left */
.home-left-wrapper {
  flex: 6.5;
}

.home-left {
  align-self: flex-start;
  margin-top: 3rem;
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.home-left-top,
.home-left-bottom {
  flex: 1;
}

.home-left-bottom {
  justify-content: space-around;
  width: 75%;
}

.home-left-bottom-left-wrapper,
.home-left-bottom-right-wrapper {
  width: 35%;
  height: 70%;
}

.home-left-bottom-card {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* #endregion */

/* #region home-right */

.home-right-wrapper {
  flex: 3.5;
}

.home-right {
  width: 80%;
  height: 50%;

  margin-top: 5rem;
  margin-bottom: 4rem;
  min-height: 22rem;
  min-width: 15rem;
}

.hours {
  width: 85%;
  height: 85%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.hours-title {
  font-size: 38px;
  font-weight: 500;
}

.hours-item {
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  color: var(--secondary-text-color);
  letter-spacing: 20%;
}

.hours-hours {
  text-align: right;
  display: inline-block;
}

@media (max-width: 1360px) and (min-width: 1201px) {
  .home-content .hours-item {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  .home-content .hours-hours {
    width: 100%;
    text-align: right;
  }
}

@media (max-width: 1200px) {
  .home-content {
    flex-direction: column;
  }

  .home-right {
    min-height: 0;
    min-width: none;
    width: 75%;
    align-self: center;
  }

  .home-content .content-p-wrapper{
    margin-bottom: 2rem;
  }

  .home-content .hours {
    padding: 1rem;
  }

  .home-content .hours-title {
    padding-bottom: 0.5rem;
  }

  .home-content .hours-item {
    margin-bottom: 1rem;
  }
}

/* #endregion */

/* #endregion */

/* #region about-content */
.about-left-wrapper,
.about-right-wrapper {
  flex: 1;
}

.about-left {
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 80%;
  width: 80%;
}

.about-left-card {
  width: 100%;
  height: 100%;
}

.about-left-card .image {
  max-height: calc(100vh - 10rem - 6rem);
  max-width: 45rem;
  min-height: 45rem;
  min-width: 30rem;
}

.about-right-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-right {
  width: 80%;
  height: 80%;
}

.about-right .content-title {
  padding-bottom: 3rem;
}

@media (max-width: 1300px) {
  .about-content {
    flex-direction: column-reverse;
  }

  .about-content .vertical-line {
    width: 80%;
    height: 0.01px;
  }
}

/* #endregion */

/* #region services-content */
.services-content .vertical-line {
  height: 36rem;
}

.services-left-wrapper,
.services-right-wrapper {
  flex: 1;
}

.services-left,
.services-right {
  width: 80%;
  height: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.services-card-content-wrapper {
  width: 90%;
  height: 80%;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.services-card-content-wrapper .down-button-wrapper, .services-card-content-wrapper .cross-button-wrapper {
  display: none;
}


.service-item-wrapper {
  width: 100%;
  margin-top: 1rem;
}
.service-item-wrapper-mobile{
  display: none;
}

.service-item-wrapper .service-item {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.service-item-title-price-wrapper {
  width: 100%;
  justify-content: space-between;
}

.service-item-title,
.service-item-price {
  font-family: var(--primary-font);
  font-size: 23px;
  font-weight: 200;
}

.service-item-description {
  color: var(--secondary-text-color);
}

@media (max-width: 1045px) {
  .services-content {
    flex-direction: column;
  }
  .services-content .vertical-line {
    width: 85%;
    height: 0.01px;
  }
}

/* #endregion */

/* #region contact-content */
.contact-card-wrapper {
  height: 80%;
  width: 30%;
  min-width: 25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact-info-wrapper {
  padding: 4rem;
  flex-direction: column;
  width: 85%;
}

.contact-info-wrapper .content-title {
  padding-bottom: 3rem;
  text-align: center;
  letter-spacing: 30%;
}

.contact-item-wrapper {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.contact-item-title {
  font-size: 25px;
  letter-spacing: 10%;
  color: var(--secondary-text-color);
}

.contact-item-info {
  text-decoration: none;
  color: var(--secondary-text-color);
  letter-spacing: 10%;
}

/* #endregion */

/*#region footer*/
.footer-wrapper{
  background-color: var(--card-color);
}

.footer {
  min-height: 5rem;
  width: 80%;
  color: var(--secondary-text-color)
}

.footer-sections-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.copyright-wrapper {
  flex: 1;
  font-size: 16px;
}

.footer-sections-wrapper a,
.footer-sections-wrapper .footer-title {
  font-size: 12px;
  font-family: var(--secondary-font);
  color: var(--secondary-text-color);
}

.footer-sections-wrapper a {
  font-weight: 300;
}

.footer-title {
  font-weight: 500;
  letter-spacing: 10%;
}

.services,
.policies,
.contact {
  list-style-type: none;
  padding: 0;
}

/*#endregion*/
