:root {
  --card-color: #f1f0f0;
  --unfocus-text-color: #686868;
  --primary-text-color: #000000;
  --secondary-text-color: #737373;
  --primary-font: "Crimson Text", serif;
  --typewriter-font: "Xanh Mono", serif;
  --secondary-font: "Inter", serif;
}

@media (max-width: 550px) {
  /* #region header-content */
  .header-wrapper {
    flex-wrap: wrap;
  }

  .header {
    justify-content: space-between;
  }
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
    text-decoration: none;
  }

  .nav-mobile-items-wrapper {
    flex-basis: 100%;
    background-color: var(--card-color);
    border-radius: 0 0 20px 20px;
  }

  .nav-mobile-items-wrapper {
    max-height: 0px;
    overflow: hidden;
    transition-duration: 1s;
  }

.nav-mobile-items-wrapper.expand{
    max-height: 17rem;
  }
  

  .nav-mobile-nav {
    width: 80%;
    justify-self: center;
  }

  .nav-mobile-list {
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-mobile-list .nav-item {
    margin: 0;
    padding: 1rem;
  }

  /* #endregion */

  /* #region home-content */
  .home-content .hours-item {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    font-size: 14px;
  }

  .home-content .hours-hours {
    width: 100%;
    text-align: right;
  }

  .home-left-bottom {
    display: none;
  }

  /* #endregion */

  /* #region about-content */
  .about-left-wrapper {
    display: none;
  }
  .about-content .vertical-line {
    display: none;
  }

  /* #endregion */

  /* #region services-content */

  .services-left-wrapper,
  .services-right-wrapper {
    width: 90%;
  }
  .services-left,
  .services-right {
    width: 100%;
  }
  .services-content .grey-card {
    min-width: 15rem;
  }
  .services-content .content-title-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .services-content .content-title {
    font-size: 32px;
    margin-top: 0.7rem;
  }



  .services-content .down-button-wrapper, .services-content .cross-button-wrapper, .service-item-wrapper-mobile{
    display: block;
    margin-top: 0.7rem;
  }

  .service-item-wrapper-desktop{
    display: none;
  }
  
  .service-item-wrapper-mobile{
    max-height: 0;
    overflow: hidden;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;

  }

  .service-item-wrapper-mobile.expand{
    max-height: 50rem;
    transition-timing-function: ease-out;
  }


  

  /* #endregion */

  /* #region contact-content */
  .contact-card-wrapper {
    min-width: 15rem;
    width: 90%;
  }
  .contact-info-wrapper {
    width: 65%;
    padding: 1rem;
  }

  .contact-content .content-title {
    font-size: 40px;
    padding-bottom: 0.3rem;
  }

  @media (max-width: 400px) {
    .contact-item-title {
      display: none;
    }
    .contact-item-wrapper {
      justify-content: center;
    }
  }

  /* #endregion  */

  /* #region terms-content */
  /* #endregion */

  /* #region footer-content */
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer-sections-wrapper {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer-title {
    padding-top: 1rem;
    padding-bottom: 0.2rem;
  }

  .copyright-wrapper {
    padding-bottom: 1rem;
  }

  /* #endregion */
}
